.link {
  color: #f25487;
  font-size: 12px;
  line-height: 2.7;
  text-decoration: none;
  vertical-align: middle;
  padding: 0.4rem;
  border: 1px solid  #f7d9d9;
  border-radius: 7px;
  transition: all 200ms ease-in-out;
}
.link:hover {
  color: #fff;
  background-color: #f25487;
  opacity: 1;
  
}
