.clear-dates{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(170, 159, 159);
    padding: .5rem;
    color: rgb(170, 159, 159);
    cursor: pointer;
    transition: all 200ms ease-in-out;
    svg{
        border-left: 1px solid rgb(170, 159, 159);
        fill: rgb(170, 159, 159);
        padding-left: 5px;
        margin-left: .5rem;
        width: 30px;
        height: 30px;
    transition: all 200ms ease-in-out;

    }
    &:hover{
    border: 1px solid #333;
    background-color: #333;
    color: #fff;
    svg{
        border-left: 1px solid #fff;
        fill: #fff;
    }


    }



}
.nights{
    font-size: 1.2rem;
    font-weight: bold;
}