.placeholder {
  font-weight: 300;
  line-height: 1.25;
  color: rgba(19, 27, 31, 0.5);
  font-size: 14px;
}
.vilaFinder {
  direction: rtl;
  background-color: #ffffff;
  margin: 0.5rem;
    border-radius: 7px; 

}
