.custom-calendar {
    .rmdp-rtl {
      width: 100% !important;
    }
    .rmdp-calendar{
      padding: 0 !important;
    }
    .rmdp-top-class {
      width: 100% !important;
    }
    .rmdp-today {
      background-color: #7ea6f0;
    }
    .rmdp-day.rmdp-today span{
      background-color: unset;
    }
  }
  .rmdp-wrapper {
    width: 100%;
  }
  // .rmdp-header div {
  //   width: 70%;
  //   margin: 0 auto;
  // }
  .rmdp-day-picker div {
    width: 100% !important;
    min-width: 60px;
  }
  .rmdp-day span {
    border-radius: 0;
  }
  .rmdp-day {
    min-height: 50px;
  }
  
  .custom-day-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .custom-day {
      display: block !important;
      margin: 0;
    }

  }
  