.slider-custom {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: grab;
}
.react-multi-carousel-dot-list {
  z-index: 3;
}
.react-multiple-carousel__arrow {
  background-color: transparent !important;
}
.react-multiple-carousel__arrow--left {
  left: calc(0% + 1px) !important;
}
.react-multiple-carousel__arrow--right {
  right: calc(0% + 1px) !important ;
}